Repository Dotnet-Boxed/Templates, pull requests merged in 2021-01, with the labels that each got.

#901 Fixing docker-vs integration issue
  Source/ApiTemplate/Source/ApiTemplate/ApiTemplate.csproj
  Source/GraphQLTemplate/Source/GraphQLTemplate/GraphQLTemplate.csproj
  Source/OrleansTemplate/Source/OrleansTemplate.Server/OrleansTemplate.Server.csproj
Labels: patch, template/API, template/GraphQL, template/Orleans

#912 Bump Microsoft.Orleans.* from 3.3.0 to 3.4.0
  Source/OrleansTemplate/Source/OrleansTemplate.Abstractions/OrleansTemplate.Abstractions.csproj
  Source/OrleansTemplate/Source/OrleansTemplate.Client/OrleansTemplate.Client.csproj
  Source/OrleansTemplate/Source/OrleansTemplate.Grains/OrleansTemplate.Grains.csproj
  Source/OrleansTemplate/Source/OrleansTemplate.Server/HealthChecks/SiloHealthCheck.cs
  Source/OrleansTemplate/Source/OrleansTemplate.Server/OrleansTemplate.Server.csproj
  Source/OrleansTemplate/Tests/OrleansTemplate.Server.IntegrationTest/OrleansTemplate.Server.IntegrationTest.csproj
Labels: patch, template/Orleans

#913 Bump Serilog.Enrichers.Span from 1.0.1 to 1.1.0
  Source/ApiTemplate/Source/ApiTemplate/ApiTemplate.csproj
  Source/GraphQLTemplate/Source/GraphQLTemplate/GraphQLTemplate.csproj
  Source/OrleansTemplate/Source/OrleansTemplate.Server/OrleansTemplate.Server.csproj
Labels: patch, template/API, template/GraphQL, template/Orleans

#925 Fix Mac OS on AppVeyor
  Source/NuGetTemplate/appveyor.yml
  Tests/Boxed.Templates.FunctionalTest/ApiTemplateTest.cs
  Tests/Boxed.Templates.FunctionalTest/Boxed.Templates.FunctionalTest.csproj
  Tests/Boxed.Templates.FunctionalTest/GraphQLTemplateTest.cs
  Tests/Boxed.Templates.FunctionalTest/NuGetTemplateTest.cs
  Tests/Boxed.Templates.FunctionalTest/OrleansTemplateTest.cs
  appveyor.yml
Labels: maintenance, patch, template/NuGet

#926 Fix Visual Studio Docker support
  Source/ApiTemplate/Source/ApiTemplate/Dockerfile
  Source/GraphQLTemplate/Source/GraphQLTemplate/Dockerfile
  Source/OrleansTemplate/Source/OrleansTemplate.Server/Dockerfile
Labels: patch, template/API, template/GraphQL, template/Orleans

#932 Only log Open Telemetry trace data if IsRecording is true
  Source/ApiTemplate/Source/ApiTemplate/CustomServiceCollectionExtensions.cs
  Source/GraphQLTemplate/Source/GraphQLTemplate/CustomServiceCollectionExtensions.cs
  Source/OrleansTemplate/Source/OrleansTemplate.Server/ServiceCollectionExtensions.cs
Labels: patch, template/API, template/GraphQL, template/Orleans
