Repository Dotnet-Boxed/Templates, pull requests merged in 2022-08, with the labels that each got.

#1698 OpenTelemetry now logs HTTP scheme and flavour for you
  Source/ApiTemplate/.template.config/template.json
  Source/ApiTemplate/Source/ApiTemplate/Constants/OpenTelemetryAttributeName.cs
  Source/ApiTemplate/Source/ApiTemplate/Constants/OpenTelemetryHttpFlavour.cs
  Source/ApiTemplate/Source/ApiTemplate/TracerProviderBuilderExtensions.cs
  Source/GraphQLTemplate/.template.config/template.json
  Source/GraphQLTemplate/Source/GraphQLTemplate/Constants/OpenTelemetryAttributeName.cs
  Source/GraphQLTemplate/Source/GraphQLTemplate/Constants/OpenTelemetryHttpFlavour.cs
  Source/GraphQLTemplate/Source/GraphQLTemplate/TracerProviderBuilderExtensions.cs
  Source/OrleansTemplate/.template.config/template.json
  Source/OrleansTemplate/Source/OrleansTemplate.Abstractions/Constants/OpenTelemetryAttributeName.cs
  Source/OrleansTemplate/Source/OrleansTemplate.Abstractions/Constants/OpenTelemetryHttpFlavour.cs
  Source/OrleansTemplate/Source/OrleansTemplate.Server/TracerProviderBuilderExtensions.cs
Labels: template/GraphQL, template/API, template/Orleans, patch

#1737 Ignore `.devcontainer` DockerFiles in cake builds.
  Source/ApiTemplate/build.cake
  Source/OrleansTemplate/build.cake
Labels: template/API, template/Orleans, minor

#1758 Use compound assignment
  Source/ApiTemplate/Source/ApiTemplate/OperationFilters/ApiVersionOperationFilter.cs
Labels: template/API, minor

#1761 Ignore Dockerfile's in .devcontainer folders
  Source/ApiTemplate/build.cake
  Source/GraphQLTemplate/build.cake
  Source/NuGetTemplate/build.cake
  Source/OrleansTemplate/build.cake
  build.cake
Labels: template/GraphQL, template/API, template/Orleans, template/NuGet, patch

#1766 Fail Build on Docker Build Failure
  Source/ApiTemplate/build.cake
  Source/GraphQLTemplate/build.cake
  Source/OrleansTemplate/build.cake
Labels: bug, template/GraphQL, template/API, template/Orleans, patch

#1767 Add client request cancelled middleware
  Source/ApiTemplate/Source/ApiTemplate/ApiTemplate.csproj
  Source/ApiTemplate/Source/ApiTemplate/Startup.cs
  Source/GraphQLTemplate/Source/GraphQLTemplate/GraphQLTemplate.csproj
  Source/GraphQLTemplate/Source/GraphQLTemplate/Startup.cs
  Source/OrleansTemplate/Source/OrleansTemplate.Server/OrleansTemplate.Server.csproj
Labels: template/GraphQL, template/API, template/Orleans, minor
